.box{
    

    .btn-signup{
        background: darkorange;
        color: aqua;
        padding: 10px;
        border-radius: 5px;
        transition: 0.5s;
        }
        .btn-signup:hover{

            color: lime;

        }
        height: 100px;
        .btn-logout{
            background: rgb(6, 187, 228);
            color: rgb(255, 0, 195);
            padding: 10px;
            border-radius: 5px;
            transition: 0.5s;
            }
            .btn-signup:hover{
    
                color: crimson;
    
            }
}