<ion-header>
  <ion-toolbar>
    <ion-title>home_screen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>WELCOME</h1>
</ion-content>
<!-- <div class="container">
  <div class="my-form">

    <div class="box">

      <div class="input-container">
        <input type="text">
      </div>
      <div class="input-container">
        <input type="text">
      </div>
      <div class="input-container">
        <button class="btn-login">Login</button>
      </div>
      <div class="input-container">
        <button>Register</button>
      </div>

    </div>

  </div>
</div> -->