<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  {{showTime}}
  <div>{{production}}</div>
  <ion-input type ="text" style="border:1px solid" 

  [(ngModel)]="production"
  ></ion-input>

  <ion-button (click)="save()">save</ion-button>


  <ion-button (click)="test()"> Test</ion-button>

  <ion-button (click)="test1()"> Test1</ion-button>
  <ion-button (click)="test2()"> Test2</ion-button>
  <ion-button (click)="test3()"> Test3</ion-button>
  <ion-button (click)="test4()"> Test4</ion-button>

  <ion-button class="button0" (click)="oauth()"> OAuth</ion-button>
  <ion-button class="button1" (click)="oauth1()"> oauth1</ion-button>
  <ion-button class="button2" (click)="Lockinitialize()"> Lockinitialize</ion-button>
  <ion-button class="button3" (click)="Getthelocklistofanaccount()"> Getthelocklistofanaccount</ion-button>
  <ion-button  class="button4" (click)="Getlockdetails()"> Getlockdetails</ion-button>
  <ion-button class="button5" (click)="Deletelock()"> Deletelock</ion-button>
  <ion-button class="button6" (click)="Updatelockdataresetekey()"> Updatelockdataresetekeys</ion-button>
  
  <ion-button class="button7" (click)="Changelockname()"> Changelockname</ion-button>
  <ion-button class="button8" (click)="Changethesuperpasscode()"> Changethesuperpasscode</ion-button>
  <ion-button class="button9" (click)="TransferLock()"> TransferLock</ion-button>
  <ion-button class="button10" (click)="Sendekey()"> Sendekey</ion-button>
  <ion-button class="button11" (click)="GettheeKeylistofanaccount()">GettheeKeylistofanaccount </ion-button>



  
  <ion-button (click)="checkRESTAPI()"> TEST API</ion-button>

<!--   
  <div>
    ==>{{sampleData.userId}}
    ==>{{sampleData.title}}
  </div> -->


  <!-- <ion-grid>
    <ion-row>
     Login
     <ion-list>
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input class="input" [(ngModel)]="loginData.username"></ion-input>
        <ion-label>password</ion-label>
        <ion-input class="input" type="password" [(ngModel)]="loginData.password"></ion-input>
        <ion-button (click)="login()">Login</ion-button>
      </ion-item>
     </ion-list>
    </ion-row>
  </ion-grid> -->





  <!-- <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Register</ion-button>
      
      </ion-col>
    </ion-row>
  </ion-grid> -->
  
  





  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
