.input{
    border: 1px black solid;


  
    
}
.row{
    width: 50;
}
.button0{
    color: blue;
   
}
.button1{
  color: blue;
   
}
.button2{
    color: blue;
   
}
.button3{
    color: blue;
   
}
.button4{
    color: blue;
   
}
.button5{
    color: blue;
   
}
.button6{
    color: blue;
   
}
.button7{
    color: blue;
   
}
.button8{
    color: blue;
   
}
.button9{
    color: blue;
   
}
.button10{
    color: blue;
   
}