<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class = "item range">
    <i class = "icon ion-volume-low"></i>
    <input type = "range" name = "volume">
    <i class = "icon ion-volume-high"></i>
 </div>

 
 <label class = "item item-input item-select">
  <div class = "input-label">
     Select
  </div>
 
  <select>
     <option>Option 1</option>
     <option selected>Option 2</option>
     <option>Option 3</option>
  </select>
</label>

<div class = "row">
  <div class = "col">col 1</div>
  <div class = "col">col 2</div>
  <div class = "col">col 3</div>
  <div class = "col">col 4</div>
  <div class = "col">col 5</div>
</div>

<div class = "row">
  <div class = "col">col 1</div>
  <div class = "col">col 2</div>
  <div class = "col">col 3</div>
</div>


  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
